{% extends 'base.html.twig' %}

{% block title %}
	Events
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Event Page</h1>
		{% if events is empty %}
			<div class="alert alert-info" role="alert">
				No events found.
			</div>
		{% endif %}
		<div class="row">
			{% for event in events %}
				<div class="col-md-6 col-lg-4 mb-4">
					<div class="card">
						<img class="card-img-top" src="https://placehold.co/600x400/000000/FFFFFF/png" title="{{event.name}}" alt={{event.name}}/>
						<div class="card-body">
							<div
								class="d-flex align-items-center justify-content-between w-100">
								{# <div title="{{event.attendees.total}} people are attending" class="d-flex align-items-center">
																									{% for attendee in event.attendees.users %}
																										<img class="avatar" src="{{attendee.avatar}}"/>
																									{% endfor %}
																									<span class="avatar-count">+{{event.attendees.total}}</span>
																								</div> #}
								<time class="text-muted">
									<small>
										{{event.startDate|date('M d, Y')}}
										at
										{{event.startTime|date('H:i')}}
									</small>
								</time>
							</div>
							<h4 title="{{event.name}}" class="mt-4">
								{{ event.name|length > 20 ? event.name|slice(0, 20) ~ '...' : event.name }}
							</h4>
							<p class="card-text">{{event.description}}</p>
							<a href="{{ path('events_show', {id: event.id}) }}" class="btn btn-primary">More details</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
